#body {
  height: 100vh;
  display: grid;
  place-items: center;
  width: 100%;
  margin: 0;
  background-image: url(./images/bg.jpg);
  background-position: center;
  background-size: cover;
}
#task {
  display: flex;
  align-items: center;
  width: 310px;
  justify-content: space-between;
  color: white;
  font-weight: bold;
  height: 40px;
  padding: 2px, 5px, 2px, 5px !important;
}
#card {
  background-color: black;
  margin: 0.5rem !important;
  text-align: center !important;
}

.line_through {
  text-decoration: line-through;
  margin-top: 0.8rem !important;
}
.h1 {
  text-align: center;
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
#inputfield {
  background-color: #fad876;
  border-radius: 5px;
  height: 2.4rem;
}
#inputfield::placeholder {
  color: white;
  padding: 4px;
}
#checkbox {
  margin: 0.1rem !important;
  padding: 1rem !important;
}
#p {
  margin-top: 0.8rem !important;
}
